.header{
    height:10%;
    background-color: grey;
    vertical-align: middle;
}
.logos{
    display:inline;
}
.telkom-logo{
    height:50px;
    display:inline
}
.gct-logo{
    height:25px;
    display:inline
}
.title{
    display:inline;
    margin-left:100px;
    margin-right:auto;
}
.account{
    display:inline;
    position:absolute;
    right: 50px
}